fastapi==0.115.0
uvicorn==0.30.6
python-multipart==0.0.9
requests==2.32.3
beautifulsoup4==4.12.3
duckduckgo-search==5.3.1
pypdf==4.3.1
python-docx
scikit-learn==1.5.2
joblib==1.4.2
git+https://github.com/adbar/trafilatura.git
youtube-transcript-api
yt-dlp
tqdm
httpx
asyncio
rank-bm25
requests-cache
openai
lxml==4.9.3
